.wraper {
    text-align: center;
    margin: 56px auto 0 auto;
    

    .sub_par {

        margin: 0 0 25px 0;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2.3em;
    }
    .text_wrap{
        text-align: left;
        max-width: 1220px;
        padding: 20px;
        margin: 0 auto;
        .tg_link {
            a{
                svg {
                    margin: 0 15px;
                }
                p{
                    display: inline-block;
                    font-size: 1.4em;
                    color: black
                }
            }
            
        }
        .ul_lists{
            ul{
                margin: 25px 15px;
                & :first-child{
                    margin: 8px 0px;
                    font-size: 1.2em;
                    font-weight: 600;
                    &::before{
                        content: '';
                        display: none;
                    }
                }
                li{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        left: -12px;
                        top: 4px;
                        width: 5px;
                        height: 5px;
                        background-color: #333333;
                        border-radius: 2px;
                        transition: left 0.4s ease;
                    }
                    margin: 3px 15px;
                    &:hover {
                        
                        &::before{
                            content: '';
                            left: -9px;
                        }
                       
                        
                    }
                }
            }
        }
        

    }
    .icons{
        width: 100%;
        height: 350px;
        background-color: #9c31d9;
        margin: 20px 0 75px 0;
        .wraper{
            max-width: 1220px;
            height: 100%;
            justify-content: space-around;
                align-items: center;
            
            div{
                
                width: 250px;
                height: 250px;
                margin: 50px 25px;
                background-color: #bbb;
                display: inline-block;
            }
        }
        @media (max-width: 900px){
            .wraper{
                display: flex;
                div{
                    flex: 0 1 auto;
                    margin: 45px 15px;
                }
            }
            
        }
        @media (max-width: 850px){
            &{
                height: 270px;

            }
            .wraper{
                display: flex;
                
                
                div{
                    
                    width: 220px;
                    height: 220px;
                    flex: 0 1 auto;
                    
                }
            }
            
        }
        @media (max-width: 670px){
            &{
                height: 200px;

            }
            .wraper{
                display: flex;
                
                
                div{
                    width: 170px;
                    height: 170px;
                    flex: 0 1 auto;
                    
                }
            }
            
        }
    }
    .sub_footer{
        width: 100%;
        p{
            margin: 25px;
        }
        .gr_text{
            
            margin: 90px auto 24px auto;
            width: 100%;
            line-height: 2;
            p{
                margin: 0 auto;
                max-width: 350px;
                font-size: 1.4em;
                font-weight: 600;
            }
        }
    }
    
}