 .wraper{

    .product_wrap{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .swiper_wraper{
            margin: 0 auto;
            width: 400px;
            height: 400px;
            background-color: #bbb;
        }
        .text{
            :first-child:not(li){
                font-weight: 700;
                font-size: 1.8em;
                display: inline-block;
            }
            :nth-child(2){
                display: inline-block;
            }
            :nth-child(2){

            }
            :nth-child(2){

            }
        }
    }
    padding: 20px;
    width: 100%;
    .form_wrap{
        text-align: center;
    }
 }