.main_wraper {
  text-align: center;
}
.main_wraper .wraper_title {
  background: linear-gradient(156deg, rgba(142, 156, 230, 0.1306723373) 10%, rgba(78, 205, 233, 0.1166667351) 100%);
  padding: 60px;
}
.main_wraper .sachen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1220px;
  margin: 100px 0 50px 0;
}
.main_wraper .sachen div {
  padding: 50px;
}
.main_wraper .sachen div a div {
  background-color: #bbb;
  width: 170px;
  height: 250px;
}
@media (max-width: 808px) {
  .main_wraper .sachen div a div {
    width: 230px;
    height: 270px;
  }
}
@media (max-width: 659px) {
  .main_wraper .sachen div {
    width: 100%;
  }
  .main_wraper .sachen div a div {
    width: 100%;
    height: 390px;
  }
}
.main_wraper .add_wrap {
  max-width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_wraper .add_wrap .add {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  padding: 5px;
  margin: 10px 0;
}
.main_wraper .info_bank {
  padding: 8px 0;
  margin: 30px 0 150px 0;
}
.main_wraper .info_bank img {
  width: 100%;
}
.main_wraper .info_bank p {
  padding: inherit;
  margin: 20px;
}
.main_wraper .info_bank p a {
  margin: 20px;
  padding: inherit;
  border: solid wheat 1px;
}
.main_name {
  padding: 250px 0 120px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.main_name_sub {
  font-weight: 500;
  font-size: 1.2em;
}