.main_ {
    &wraper {
        text-align: center;
        .wraper_title{
            background: linear-gradient(156deg, rgba(142, 156, 230, 0.13067233729429273) 10%, rgba(78, 205, 233, 0.11666673505339631) 100%);
            padding: 60px;
        }
        .sachen {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 1220px;
            margin: 100px auto 50px auto;

            div {
                
                padding: 50px;

                a {
                    div {
                        background-color: #bbb;
                        width: 170px;
                        height: 250px;
                    }
                }

            }



        }

        .add {
            width: 3%;
            display: inline-block;
            transition: transform 0.4s ease-in-out;
            padding: 5px;
            margin: 10px auto;
           
        }
        .info_bank{
            
            width: 100%;
            background-color: #bbb;
            
            padding: 8px 20px;
            margin:  30px 0 150px 0;
            p{
                padding: inherit;
                margin: 20px ;
                a{
                    margin: 20px;
                    padding: inherit;
                    border: solid wheat 1px
                }
            }
            
        }

    }

    &name {

        padding: 250px 0 120px 0;

        font-size: 3em;

        text-transform: uppercase;

        &_sub {
            font-weight: 500;
            font-size: 1.2em;

        }
    }


}