.main_ {
    &wraper {
        text-align: center;

        .wraper_title {
            background: linear-gradient(156deg, rgba(142, 156, 230, 0.13067233729429273) 10%, rgba(78, 205, 233, 0.11666673505339631) 100%);
            padding: 60px;
        }

        .sachen {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 1220px;
            margin: 100px auto 40px auto;

            div {
                margin: 20px;
                a {
                    div {
                        margin: 0;
                        width: 170px;
                        
                        img{
                            width: 100%;
                        }
                    }
                    

                    
                }
                @media (max-width: 808px) {
                    a div {
                        width: 230px;
                        
                        

                    }
                }
                @media (max-width: 659px) {
                    & {
                        
                        width: 100%;
                        a div{
                            margin: 0 auto;
                            width: 70%;
                            
                            
                        }

                    }
                }
               
            }



        }

        .add_wrap {
            max-width: 200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .add {


                transition: transform 0.4s ease-in-out;
                padding: 5px;
                margin: 10px 0;

            }
        }

        .info_bank {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: wrap;
            height: 250px;
            overflow: hidden;
            @media (min-width: 950px){
                &{
                    height: 280px;
                }
            }
            @media (min-width: 1100px){
                &{
                    height: 290px;
                }
            }
            @media (min-width: 1300px){
                &{
                    height: 310px;
                }
            }
            img {
                left: 0;
                
                width: 100%;
                position: absolute;
                z-index: -1;
            }

            padding: 60px 0;
            margin: 50px 0 150px 0;

            p {
               
                color: white;
                
                
                
                a {
                    
                    padding: 5px 25px;
                    border-radius: 4px;
                    color: white;
                    border: solid wheat 1px;
                    &:hover{
                        background-color: #ffffff44;
                    }
                }
            }

        }

    }

    &name {

        padding: 250px 0 120px 0;

        font-size: 3em;

        text-transform: uppercase;

        &_sub {
            font-weight: 500;
            font-size: 1.2em;

        }
    }


}