.main_wraper {
  text-align: center;
}
.main_wraper .wraper_title {
  background: linear-gradient(156deg, rgba(142, 156, 230, 0.1306723373) 10%, rgba(78, 205, 233, 0.1166667351) 100%);
  padding: 60px;
}
.main_wraper .sachen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1220px;
  margin: 100px auto 40px auto;
}
.main_wraper .sachen div {
  margin: 20px;
}
.main_wraper .sachen div a div {
  margin: 0;
  width: 170px;
}
.main_wraper .sachen div a div img {
  width: 100%;
}
@media (max-width: 808px) {
  .main_wraper .sachen div a div {
    width: 230px;
  }
}
@media (max-width: 659px) {
  .main_wraper .sachen div {
    width: 100%;
  }
  .main_wraper .sachen div a div {
    margin: 0 auto;
    width: 70%;
  }
}
.main_wraper .add_wrap {
  max-width: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_wraper .add_wrap .add {
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  padding: 5px;
  margin: 10px 0;
}
.main_wraper .info_bank {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 250px;
  overflow: hidden;
  padding: 60px 0;
  margin: 50px 0 150px 0;
}
@media (min-width: 950px) {
  .main_wraper .info_bank {
    height: 280px;
  }
}
@media (min-width: 1100px) {
  .main_wraper .info_bank {
    height: 290px;
  }
}
@media (min-width: 1300px) {
  .main_wraper .info_bank {
    height: 310px;
  }
}
.main_wraper .info_bank img {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.main_wraper .info_bank p {
  color: white;
}
.main_wraper .info_bank p a {
  padding: 5px 25px;
  border-radius: 4px;
  color: white;
  border: solid wheat 1px;
}
.main_wraper .info_bank p a:hover {
  background-color: rgba(255, 255, 255, 0.2666666667);
}
.main_name {
  padding: 250px 0 120px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.main_name_sub {
  font-weight: 500;
  font-size: 1.2em;
}