* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*          */

.bg_image {
    
    
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.bg_image .content{
    
    margin: 56px auto 0 auto;
    flex: 1 0 auto;
    width: 100%;
}

















/*   add sachen Button   */
.add {
    
    
    transition: transform 0.4s ease-in-out;
    padding: 3px;
    margin: 10px 0;
   
}
.add_off {
    display: none;
}

.rotate {
    transform: rotate(45deg);
}

/*  Boorger manu*/


.anim_active :nth-child(2){
    
    visibility: hidden;
}
.anim_active :nth-child(3){
    animation: animOpen2 0.5s both;

}
.anim_active :first-child{
    animation: animOpen1 0.5s both;
    
}

.brg_bg {
    width: 400px;
    height: 100vh;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    background-color: #000;
    animation: show 0.9s both;
    z-index: 1;
    padding: 25px;
}
@media (min-width: 704px){
    .brg_bg{
        display: none;
    }          
}

@keyframes show {
    0% {
        transform: translateX(110%);
    }

    70% {
        transform: translateX(-3%);
    }

    100% {
        transform: translateX(0%);
    }
}
@keyframes animOpen1 {
    0%{
        transform: rotate(0deg);
        border-radius: 3px 3px 0 0;
    }
    50%{
        transform:rotate(45deg) translate(-5px, 5px);
        border-radius: 3px 3px 3px 0;
        background: #000;
    }
    100%{
        transform:rotate(45deg) translate(3px, 8px);
        border-radius: 3px 3px 3px 3px;
        background: #ffffff;
    }

}
@keyframes animOpen2 {
    0%{
        transform: rotate(0deg);
        border-radius: 0px 0px 3px 3px;
    }
    50%{
        transform:rotate(-45deg) translate(-5px, -5px);
        border-radius: 3px 0px 3px 3px;
        background: #000;
    }
    100%{
        transform:rotate(-45deg) translate(3px, -8px);
        border-radius: 3px 3px 3px 3px;
        background: #ffffff;
    }

}
/*  */
