p{
    text-align: center;
    &.par{
    
        
        margin: 20px 0 60px 0;
        
    }  
    &.f_sub{
        max-width: 600px;
        margin: 10px auto;
        font-size: 0.9em;
    }
}
 